# Effect of Absolute and Relative Time References

In [2]:
import re
import pandas as pd



# question_type = 'time'
# data = pd.read_csv('/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/ArchivalQATime_train.csv')
# questions = data["Question"].to_list()

# found = []
# years = []

# num_found = 0
# for question in questions:
#     try:
#         years.append(int(re.search(r"in (\d{4})\?", question).group(1)))
#         num_found += 1
#         found.append(question)
#     except:
#         # print(question)
#         ...

# print(f"Found {num_found} questions containing year numbers in the list of {len(questions)} questions")
# print("Minimum: ", min(years))
# print("Maximum: ", max(years))

In [3]:
# Examples:

# for q, y in zip(found, years):
#     print("Question before: ", q)

#     q_relative = q.replace(f"in {y}", f"{reference_year-y} years ago")
#     print("Question after: ", q_relative)

In [4]:
# Create dataset of QA pairs that have the ovious year number format (e.g., "What happened <in 1995>?")
# next, also create a dataset with these QA pairs reformulated to relative time references

# reference_year = 2023
# reference_year = "random"
# reference_year = "off-by-20"
data = pd.read_csv('/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/ArchivalQATime_train.csv')
questions = data["Question"].to_list()


question_indices = []
years = []

num_found = 0
for index, question in enumerate(questions):
    try:
        years.append(int(re.search(r"in (\d{4})\?", question).group(1)))
        num_found += 1
        question_indices.append(index)
    except:
        # print(question)
        ...

print(f"Found {len(question_indices)} questions in the given format")

Found 27130 questions in the given format

In [5]:
data.head()

,id,Question,Answer,org_answer,answer_start,para_id,trans_que,trans_ans,source
0,train_301934,Who did not ordain women until 1994?,The Church of England,The Church of England,130,1200583_3,0,0,wiki
1,train_204162,What team drafted Kramer in the 1980-81 season?,Mavericks,Mavericks,271,156306_8,0,0,rand
2,train_209581,Who expects Interface to earn $1.15 a share in...,Buckley,Buckley,4,208350_12,0,0,rand
3,train_103941,Who said Carnival would increase its capacity ...,Chadwick,Chadwick,49,1088556_18,0,0,rand
4,train_183574,Who imposed martial law on the native Taiwanes...,Nationalists,Nationalists,282,1185858_1,0,0,wiki

In [6]:
filtered = data.iloc[question_indices]
# filtered.to_csv("data/ArchivalQA/splits/ArchivalQATime/reference_types/absolute_time_reference.csv", index=False, sep="\t")
filtered.head()

,id,Question,Answer,org_answer,answer_start,para_id,trans_que,trans_ans,source
2,train_209581,Who expects Interface to earn $1.15 a share in...,Buckley,Buckley,4,208350_12,0,0,rand
5,train_213970,What country did Zia fight in 1971?,India,India,236,172048_16,0,0,wiki
10,train_423767,Who issued a report on the dangers of Californ...,the Bank of America,the Bank of America,183,898439_44,0,0,rand
11,train_23251,"What is the secularist, nationalist movement t...",the National Liberation Front,the National Liberation Front,74,506279_9,0,0,wiki
13,train_153174,How much would the state spend on STAR in 2008?,nearly $5 billion,nearly $5 billion,271,1836908_1,1,0,rand

In [7]:
# Load csv file and iterate through lines, replacing years

with open('/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/reference_types/absolute_time_reference.csv') as fp:
    lines = fp.readlines()

lines[1]

'train_209581\tWho expects Interface to earn $1.15 a share in 1988?\tBuckley\tBuckley\t4\t208350_12\t0\t0\trand\n'

In [8]:
years[1]

1971

In [9]:
# # Relative

# import random
# from random import randrange
# random.seed(42)

# for i, line in enumerate(lines):
#     if i == 0:
#         continue
    
#     if reference_year == "random":
#         # replaces the actual year reference with a random number between 2020 and 1900
#         replace_year = randrange(120)+1
#         # replace_year = 1900 + randrange(110)+1
#         # print("yes")
#         # break
#     elif reference_year == "off-by-20":
#         replace_year = 2041-years[i-1]
#     else:
#         replace_year = reference_year-years[i-1]
    

#     lines[i] =  lines[i].replace(f"in {years[i-1]}", f"{replace_year} years ago")  
#     # lines[i] =  lines[i].replace(f"in {years[i-1]}", f"in {replace_year}") 

# with open(f"data/ArchivalQA/splits/ArchivalQATime/reference_types/relative_time_reference_{reference_year}.csv",'w') as file:
#     file.writelines(lines)

In [10]:
# # Absolute

# import random
# from random import randrange
# random.seed(42)

# for reference_year in ["off-by-2","off-by-3","off-by-5","off-by-7","off-by-10","off-by-15","off-by-20"]:

#     with open('data/ArchivalQA/splits/ArchivalQATime/reference_types/absolute_time_reference.csv') as fp:
#         lines = fp.readlines()

#     for i, line in enumerate(lines):

#         if i == 0:
#             continue
        
#         if reference_year == "random":
#             # replaces the actual year reference with a random number between 2020 and 1900
#             replace_year = randrange(120)+1
#             # replace_year = 1900 + randrange(110)+1
#             # print("yes")
#             # break
#         elif reference_year == "off-by-2":
#             replace_year = years[i-1] + 2
#         elif reference_year == "off-by-3":
#             # print('Yes')
#             replace_year = years[i-1] + 3
#             # print("Orig year: ", years[i-1])
#             # print("Replace year: ", replace_year)
#         elif reference_year == "off-by-5":
#             replace_year = years[i-1] + 5
#         elif reference_year == "off-by-7":
#             replace_year = years[i-1] + 7
#         elif reference_year == "off-by-10":
#             replace_year = years[i-1] + 10
#         elif reference_year == "off-by-15":
#             replace_year = years[i-1] + 15
#         elif reference_year == "off-by-20":
#             replace_year = years[i-1] + 20
#         # else:
#         #     replace_year = reference_year-years[i-1]
        
#         lines[i] =  lines[i].replace(f"in {years[i-1]}", f"in {replace_year}") 

#     with open(f"data/ArchivalQA/splits/ArchivalQATime/reference_types/absolute_time_reference_{reference_year}.csv",'w') as file:
#         file.writelines(lines)

In [11]:
len(lines)

27131

In [12]:
# Smaller 3k dataset for testing absolute vs. relative and randomized versions
import random
random.seed(42)

# sample years and questions
sample_indices = list(range(1,len(lines)-1))
random.shuffle(sample_indices)
sample_indices = sample_indices[:3000]

In [13]:
reference_year = 2021
# sample = random.sample(lines[1:], 3000)
# sample.insert(0, lines[0])

absolutes = [lines[0]]
relatives = [lines[0]]
relatives_rand = [lines[0]]
absolutes_rand = [lines[0]]

for i, sample_index in enumerate(sample_indices):

    if i == 0:
        i += 1

    year = years[sample_index-1]
    line = lines[sample_index]

    rnd = random.randrange(120)+1
    absolute_random_year = 1900 + rnd
    relative_random_year = reference_year - absolute_random_year

    # Absolute
    absolutes.append(line)

    # Relative
    replace_year = reference_year-year
    relatives.append(line.replace(f"in {year}", f"{replace_year} years ago"))
    # print(line)
    # print(year)
    # break


    # Relative random
    relatives_rand.append(line.replace(f"in {year}", f"{relative_random_year} years ago"))

    # Absolute random
    absolutes_rand.append(line.replace(f"in {year}", f"in {absolute_random_year}"))

with open(f"/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/reference_types/sample/absolute_time_reference.csv",'w') as file:
    file.writelines(absolutes)

with open(f"/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/reference_types/sample/absolute_random_time_reference.csv",'w') as file:
    file.writelines(absolutes_rand)

with open(f"/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/reference_types/sample/relative_time_reference_{reference_year}.csv",'w') as file:
    file.writelines(relatives)

with open(f"/home/wallat/temporal-llms/data/ArchivalQA/splits/ArchivalQATime/reference_types/sample/relative__random_time_reference_{reference_year}.csv",'w') as file:
    file.writelines(relatives_rand)

In [14]:
len(relatives)

3001

In [15]:
i = 1

print(absolutes[i])
print(relatives[i])
print(relatives_rand[i])
print(absolutes_rand[i])

train_386299	What hurricane hit Cape May in 1993?	Hurricane Emily	Hurricane Emily	252	1024450_7	0	0	rand

train_386299	What hurricane hit Cape May 28 years ago?	Hurricane Emily	Hurricane Emily	252	1024450_7	0	0	rand

train_386299	What hurricane hit Cape May 90 years ago?	Hurricane Emily	Hurricane Emily	252	1024450_7	0	0	rand

train_386299	What hurricane hit Cape May in 1931?	Hurricane Emily	Hurricane Emily	252	1024450_7	0	0	rand